# Bỏ qua thư mục môi trường ảo
venv/

# Bỏ qua file biên dịch Python
__pycache__/
*.pyc

# Bỏ qua file mô hình lớn
models/
*.task

# Bỏ qua file hình ảnh
output/
*.png

sweep_results/
*


# Bỏ qua file ảnh, kết quả chạy thử
*.png
*.jpg
*.jpeg

# Bỏ qua file log hoặc tạm
*.log
*.tmp
